server {
  client_max_body_size 0;
  server_tokens off;
  listen 80;
  server_name {{ domain }};

  location / {
    include uwsgi_params;
    uwsgi_pass unix:/run/{{ app.runtimedirectory }}/{{ app.name }}.sock;
  }

  location /static/ {
    root {{ app.static_files_root | replace('/static/', '') }};
  }
}
